* {
	margin: 0px;
}

body {
	font-family: Open Sans;
	font-size: large;
	text-align: center;
}

#mainContent {
	margin: auto;
	width: 80%;
}

header {
	background-color: #404041;	
}

h1 {
	color: #E6E7E8;
	font-size: 350%;
	font-weight: normal;
	padding: 10px;
}

strong {
	color: #ED458B;
	font-weight: bold;
}

article {
	background-color: #FFFFFF;
	border: 10px solid #D0D2D3;
	color: #929497;
	margin-top: 40px;
	margin-left: 40px;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 160px;
}

#scoreBoard {
	left: 72px;
	top: 104px;
}

#scoreBoard2 {
	right: 112px;
	top: 104px;
}

.yourTurn {
	background-color: #A2C5F6;
	border-color: #D0D2D3;
}

h3 {
	color: #ED458B;
	font-size: 150%;
	margin-bottom: 20px;
}

#levelP, #possiblePoints, #levelP2, #possiblePoints2 {
	color: #929497;
	font-size: 100%;
}

label {
	color: #929497;
}

input {
	border-color: #929497;
	border-style: solid;
	display: block;
	font-size: 135%;
	margin: 0px auto;
	padding: 0px 5px;
	width: 50%;
}

::placeholder {
	color: #929497;
}

input:focus {
	outline-color: #EB008B;
}

input:disabled {
	background-color: #D0D2D3;
	border-color: #929497;
}

input:disabled:hover {
	border-color: #929497
}

#guess:disabled::placeholder {
	color: #EB008B;
}

input, select, textarea {
	color: #929497;
}

button {
	background-color: #929497;
	border-color: #929497;
	border-radius: 40px;
	border-style: solid;
	color: #FFFFFF;
	font-size: 135%;
	margin: 20px 15px;
	margin-bottom: 10px;
	width: 24%;
}

button:hover {
	background-color: #EB008B;
	border-color: #EB008B;
}

button:focus {
	outline-color: #EB008B;
}

p {
	color: #404041;
	font-size: 135%;
	margin: 0px;
	padding: 0px;

}

h2 {
	color: #EB008B;
	font-size: 900%;
	font-weight: normal;
	margin: -20px 0px;
	padding: 0px;
}

.boom {
	background-image: url(boom.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#errorMessage {
	color: #EB008B;
	display: none;
	font-weight: bold;
}

#resetButton {
	margin: 10px auto;
	width: 51.5%;
}

#resultSection {
	display: none;
	margin: 30px auto;
}

:disabled {
	background-color: #D0D2D3;
	border-color: #D0D2D3;
}

:disabled:hover {
	background-color: #D0D2D3;
	border-color: #D0D2D3;
}


#min, #max {
	display: inline-block;
	font-size: 110%;
	margin: 20px auto;
	margin-top: 40px;
	width: 6%;
}

.modal {
	background-color: rgba(0,0,0,0.6);
	height: 100%;
	left: 0;
	padding-top: 100px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.modal-content {
	background-color: #FFFFFF;
	border: 1px solid black;
	box-shadow: 0 0 1em #ED458B;
	margin: 40px auto;
	padding: 20px;
	width: 90%;
}

h4 {
	font-size: 150%;
}

.modal-content > p {
	font-size: 120%;
	margin: 25px 0px;
	padding-left: 50px;
	padding-right: 50px;
}

#player1Name, #player2Name  {
	display: inline-block;
	margin-bottom: 10px;
	width: 25%;
}